@import '~iview/src/styles/index.less';

@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;

.search-con {
  padding: 0 0 10px 0;
  .search {
    &-col {
      display: inline-block;
      width: 200px;
    }

    &-input {
      display: inline-block;
      width: 200px;
      margin-left: 2px;
    }

    &-btn {
      margin-left: 2px;
    }
  }
}

.vue-treeselect--disabled .vue-treeselect__control .vue-treeselect__single-value {
  color: #999;
}
.ivu-input[disabled], fieldset[disabled] .ivu-input {
  color: #999;
}

.ivu-select-disabled .ivu-select-selection {
  color: #999;
}

.ivu-input-number-input[disabled] {
  color: #999;
}

.ivu-page{
  margin-top:20px;
}

code, kbd, pre, samp{
  padding: .2em .4em;
  font-size: .9em;
  background: #f6f6f6;
  border: none;
  white-space: pre-wrap;
  vertical-align: middle;
  color: #c7254e;
}

.text-disabled{
  text-decoration:line-through;
}

.drawer-footer{
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   border-top: 1px solid #e8e8e8;
   padding: 10px 16px;
   text-align: right;
   background: #fff;
 }
